<div class="example-container">
  <mat-form-field>
    <input [(ngModel)]="hotel.name" matInput placeholder="Hotel name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea [(ngModel)]="hotel.address" matInput placeholder="Address" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="hotel.city" matInput placeholder="City" required/>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="hotel.state" matInput placeholder="State" required/>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="hotel.country" matInput placeholder="Country" required/>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="hotel.zip_code" matInput placeholder="ZIP code" required/>
  </mat-form-field>


  <mat-form-field>
    <input [(ngModel)]="hotel.phone_number" matInput placeholder="Phone number" required/>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="hotel.email" matInput placeholder="Email" required/>
  </mat-form-field>


  <mat-form-field>
    <input [(ngModel)]="hotel.image_url" matInput placeholder="Logo URL" required/>
  </mat-form-field>

  <div *ngIf="hotel.image_url"><img [src]="hotel.image_url" class="logo"/><br/><br/></div>

  <button mat-raised-button color="primary" (click)="save()">Save changes</button>

</div>

