<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Hotel management</span>
    <span class="example-spacer"></span>

    <mat-menu #rootMenu="matMenu">
      <button mat-menu-item routerLink="hotel-details" routerLinkActive="true">Manage hotel details</button>
      <button mat-menu-item routerLink="room-listing" routerLinkActive="true">Manage rooms</button>
      <button mat-menu-item routerLink="room-types-listing" routerLinkActive="true">Manage room types</button>
      <button mat-menu-item>Manage prices per room type</button>
    </mat-menu>

    <button [matMenuTriggerFor]="rootMenu" mat-button>
      My hotel
    </button>

    <button mat-button>
      Bookings
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar *ngIf="pageTitle">
  <span>{{pageTitle}}</span>
</mat-toolbar>

<router-outlet></router-outlet>
