<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Booking</span>
    <span class="example-spacer"></span>

    <mat-menu #rootMenu="matMenu">
      <button mat-menu-item routerLink="hotel-details" routerLinkActive="true">Edit hotel details</button>
      <button mat-menu-item>Manage rooms</button>
      <button mat-menu-item>Manage room types</button>
      <button mat-menu-item>Manage prices per room type</button>
    </mat-menu>

    <button [matMenuTriggerFor]="rootMenu" mat-button>
      My hotel
    </button>

    <button mat-button>
      Bookings
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
