<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Hotel management</span>
    <span class="example-spacer"></span>

    <mat-menu #rootMenu="matMenu">
      <button mat-menu-item routerLink="room-listing" routerLinkActive="true">Rooms</button>
      <button mat-menu-item routerLink="room-types-listing" routerLinkActive="true">Room types and prices
      </button>
    </mat-menu>


    <button mat-button routerLink="hotel-details" routerLinkActive="true">
      My hotel
    </button>

    <button [matMenuTriggerFor]="rootMenu" mat-button>
      Manage
    </button>

    <button mat-button routerLink="bookings" routerLinkActive="true">
      Bookings
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar *ngIf="pageTitle">
  <span>{{pageTitle}}</span>
</mat-toolbar>

<router-outlet></router-outlet>
