<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Hotel name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Address"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="City"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="State"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="ZIP code"/>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Phone number"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email"/>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Logo URL"/>
  </mat-form-field>

</div>
