<h2 *ngIf="room.id" mat-dialog-title>Modify room</h2>
<h2 *ngIf="!room.id" mat-dialog-title>Create room</h2>
<mat-dialog-content *ngIf="room && form" [formGroup]="form">

  <div class="example-container">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Room name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Room</mat-label>
      <mat-select formControlName="room_type_id" required>
        <mat-option *ngFor="let roomType of roomTypes" [value]="roomType.id">
          {{roomType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="room_image_url" matInput placeholder="Logo URL" required/>
    </mat-form-field>

  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button (click)="save()" mat-button>Save Changes</button>
</mat-dialog-actions>
